@import "base";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
  --header-color: #7371fc;
  --background-color: #ebedf9;
  --button-main-color: #6e2594;
  --button-positive-color: #44bba4;
  --button-negative-color: #ef5b5b;
  --dark-font-color: #444444;
  --light-font-color: #fdfafa;
}

.container {
  margin: 0 auto;
  width: 95%;
  max-width: 966px;
}

.input--type--text {
  height: 40px;
  font-size: 24px;
  font-weight: 300;
  color: var(--dark-font-color);
  outline: none;
  border-radius: 10px;
  border-width: 0;
  padding-left: 10px;
}


